@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
       <center><h1>OnlineShopping</h1></center>

        <pre>
                Hii Sir/Madam,
                    We Have Registration is Sucessfully Done Please login,
                    <a href=""></a>
        </pre>
    </div>
</body>
</html>
